spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/yapp_local
    driver-class-name: org.mariadb.jdbc.Driver
    username: root
    password: password

  jpa:
    database-platform: org.hibernate.dialect.MariaDBDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type: TRACE